{% extends 'blog/base.html' %}

{% load i18n %}

{% block page_title %}{{ post.title }}{% endblock page_title %}

{% block content %}
    <article class="post">
        <div class="side-button-div">
            <div class="side-button-child">
                <aside class="actions">
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                            {% include './icons/pencil-fill.svg' %}
                        </a>
                    {% endif %}
                </aside>
            </div>
            <div class="side-button-child side-button-child-center">
                {% if not post.published_date %}
                    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-trash" aria-hidden="true"></span></a>
            {% endif %}
        </div>
        <h2>{{ post.title }}</h2>
        <div class="published-article-time">
            {% if post.published_date %}
                <time class="date">
                    {{ post.published_date }}
                </time>
                <div class="published-article-time">
                    <div class="date">
                        Published By: <span style="color: black;">{{ post.author }}</span>
                    </div>
                </div>
            {% else %}
                <p class="date">Created Date: {{ post.created_date }}</p>
                <div class="published-article-time">
                    <div class="date">
                        Created By: <span style="color: black;">{{ post.author }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}