.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
span {
    font-family: 'Lobster', cursive;
}

span#new_post_heading {
    font-size: 15px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited,
.page-header nav div:hover,
div.navbar-right-child.login-logout span a:hover,
div a span#new_post_heading:hover {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-default:hover,
.login-logout span {
    color: #FFFFFF;
    background-color: #C25100;
}

main.container {
    margin-top: 110px;
}

a.navbar-brand {
    /* padding-top: 0px; */
    margin-left: 32px;
}

nav.navbar.fixed-top.navbar-light {
    background-color: #C25100;
}

span#new_post_heading {
    font-size: 15px;
}

div.published-article-time {
    padding-top: 12px;
    padding-bottom: 15px;
    font-weight: bold;
}

div.navbar-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

div.navbar-right-child.login-logout {
    line-height: 69px;
    text-align: center;
}

div.navbar-right-child.login-logout span a {
    color: #ffffff;
}